@import "module/_dialog";

& when (@media-common = true) {
  .vmpl_session {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;

    .list {
      list-style: none;
      position: relative;
      padding-left: @border-width__base;
      min-width: 320px;
      background: linear-gradient(0.25turn, @theme__color__primary, fade(@theme__color__primary, 0.5) 70%, transparent);

      li {
        margin: 0;

        > * {
          background: @page__background-color;
        }
      }

      & {
        .expand {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: @z-index-9;

          button {
            height: 100%;
            border: none;

            .lib-icon-font(
              @icon-settings,
              @_icon-font-size: @indent__base,
              @_icon-font-line-height: @indent__base,
              @_icon-font-color: @theme__color__primary,
              @_icon-font-text-hide: true
            );
          }
        }
        &.open .expand {
          display: none;
        }
      }

      .item {
        cursor: pointer;

        &:hover {
          color: @theme__color__primary;
        }

        &.active {
          font-weight: bold;
        }

        p {
          margin: 0;
          padding: @indent__s;

          &.title {
            margin-bottom: @border-width__base;
            position: relative;

            &:before {
              content: ' ';
              background: @page__background-color;
              border: 1px solid @theme__color__primary;
              border-radius: 50%;
              width: @indent__s;
              height: @indent__s;
              position: absolute;
              left: 0;
              bottom: 0;
              transform: translate(-50%, 50%);
            }
          }
        }

        .actions {
          display: flex;
          flex-flow: row wrap;
          column-gap: @indent__s;
          list-style: none;
          padding: @indent__s;

          button {
            &:hover {
              box-shadow: @border-width__base @border-width__base @indent__xs @theme__color__primary;
            }

            &.selected {
              border-color: @theme__color__primary;
            }
          }
        }
      }

      &:not(.open) .item:not(.active) {
        display: none;
      }

      .loading {
        background-image: url('@{baseDir}images/loader-1.gif');
        background-color: @page__background-color;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: @indent__m;
        width: 100%;
        height: @indent__m;
        padding: @indent__xs 0;
      }
    }

    .rrweb-wrapper {
      width: 100%;
    }

    .rr-player {
      position: unset;
      background: unset;
      float: unset;
    }
  }

  .admin__field, .field {
    &.flex-inline {
      display: flex;
      flex-flow: row nowrap;
      column-gap: @indent__s;

      .admin__actions-switch-text:before {
        display: none;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .vmpl_session {
    flex-flow: row nowrap;

    .list {
      max-height: 768px;
      overflow-y: scroll;

      .expand {
        display: none;
      }

      &:not(.open) .item:not(.active) {
        display: block;
      }
    }
  }
}
