<li class="item" css="active: itemActive().id === item.id" afterRender="afterRender">
    <p ifnot="item.optionsVisible" text="item.title"></p>
    <ol class="actions" if="item.optionsVisible" click="function () { item.optionsVisible(false) }, clickBubble: false">
        <!-- ko foreach: getRegion('options') -->
            <li>
                <!-- ko template: getTemplate() --><!-- /ko -->
            </li>
        <!-- /ko -->
    </ol>
    <p class="timeline" text="item.date.toLocaleString()"></p>
</li>
