<li class="item" css="active: itemActive().id === item.id" afterRender="afterRender">
    <p class="title" text="item.title"></p>
    <ol class="actions" if="item.optionsVisible()" click="() => { item.optionsVisible(false) }, clickBubble: false">
        <!-- ko foreach: getRegion('options') -->
            <li>
                <!-- ko template: getTemplate() --><!-- /ko -->
            </li>
        <!-- /ko -->
        <li>
            <button click="() => { itemActive(item) }">
                ▶︎
            </button>
        </li>
    </ol>
    <p ifnot="item.optionsVisible()" text="item.date.toLocaleString()"></p>
</li>
