<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="\VMPL\BugReplay\Api\Data\UploadedSessionInterface" type="\VMPL\BugReplay\Model\UploadedSession"/>
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
      <argument name="collections" xsi:type="array">
        <item name="uploaded_session_listing_data_source" xsi:type="string">
          VMPL\BugReplay\Model\ResourceModel\UploadedSession\Collection\Grid
        </item>
      </argument>
    </arguments>
  </type>
</config>
