<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="VMPL_BugReplay::report_customers_bug_replay" title="Bug Sessions" translate="title" module="VMPL_BugReplay"
         sortOrder="30" parent="Magento_Reports::report_customers" action="vmpl_bug_replay/session/"
         resource="VMPL_BugReplay::sessions"/>
  </menu>
</config>
